<h1>About Bloccit</h1>
<p>Bloccit is an application where members can post content such as text posts, direct links, and photos. Kind of like Reddit... Okay. Exactly like Reddit. Bloccit is a Reddit clone that allows members to post, comment, vote on, share, favorite, and save content.</p>
<h2>Want to try it out?</h2>
<p>If you are interested in test-driving Bloccit login using the following cedentials:</p>
<ul class="list-unstyled">
  <li>U: member@example.com</li>
  <li>P: helloworld</li>
</ul>
<h2>Want to see more?</h2>
<p>If you are interested in or have any questions about my work, please visit my site at <a href="http://www.soriafernando.com/" target="_blank">www.soriafernando.com</a>.</p>